




# Virtual environment
venv/

# environment file
.env

# text data files -- too big for git
## see text-data-info/ for files that give info on this data
text-data/

.vscode

# caches
__pycache__/
.pytest_cache/

# a trash directory
_graveyard/

# a directory containing model files
models/

# temp.py is a file I use for testing things out
temp.py

# temp/ is a directory I use for testing things out
temp/

# ignore any temp files
temp.*

# log files
logs/